* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Cabin, sans-serif;
    color: #191726;
}

main {
    margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 0;
    }
}

/* general rules */
h1 {
    font-size: 48px;
}

h1::before {
    content: "</";
    color: #55b3d9;
}

h1::after {
    content: ">";
    color: #55b3d9;
}

/* Navigation */
nav {
    background-color: #f2ba52;
    position: fixed;
    transition: width 600ms ease;
    overflow: scroll;
    box-shadow: 4px 0 10px -3px #191726;
    z-index: 100;
}

@media only screen and (min-width: 600px) {
    nav {
        width: 5rem;
        height: 100vh;
    }

    nav:hover {
        width: 16rem;
    }
    
    nav:hover .link-text {
        display: inline;
    }
    
    nav:hover .logo img {
        transform: rotate(-90deg);
        margin-left: 11rem;
    }
    
    nav:hover .logo-text {
        display: inline;
        left: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100vw;
        bottom: 0;
        left: 0;
    }
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.nav-link {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
}

@media only screen and (min-width: 600px) {
    .nav-link {
        filter: grayscale(100%) opacity(0.7);
        transition: filter 600ms ease,
                    background-color 600ms ease;
    }

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background-color: #f2955e;
    }
}

.nav-link img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1.5rem;
}

@media only screen and (max-width: 420px) {
    .nav-link img {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .nav-link img {
        margin: 0 .5rem;
    }
}

.link-text {
    display: none;
    margin-left: 1rem;
}

@media only screen and (min-width: 600px) {
    .nav-item:last-child {
        margin-top: auto;
    }

    .logo {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.3ch;
        line-height: 2rem;
        filter: grayscale(0%) opacity(1);
        background-color: #d97e7e;
        opacity: 0.8;
        transition: opacity 600ms ease;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .logo:hover {
        opacity: 1;
        background-color: #d97e7e;
    }
    
    .logo-text {
        position: absolute;
        left: -999px;
        transition: left 450ms ease;
    }
    
    .logo img {
        transform: rotate(90deg);
        transition: margin-left 600ms ease,
                    transform 600ms ease;
    }
}

@media only screen and (max-width: 600px) {
    .nav-item:first-child { /* smaže logo; nelze udělat přes .logo class, nebot tam zustaval kousek z <li> */
        display: none;
    }
}


/* section: About */
#about {
    height: 100vh;
    width: 100%;
}

.arrow {
    width: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowUpAndDown 1s ease-in-out infinite alternate;
}

@keyframes arrowUpAndDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50%);
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #f2955e, #d97e7e);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}


.hero {
    height: 60%;
    width: 100%;
    position: relative;
    border: #191726 solid 5px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: relative;
    left: 1vw;
    bottom: 30px;
}

.headline p {
    line-height: 1.5;
}

.headline p:first-child {
    color: white;
}

.name {
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    color: #298fb8;
    display: block;
    padding: 10px 0;
}


