* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Cabin, sans-serif;
    color: #191726;
    max-width: 1440px;
    margin: 0 auto;
}

main {
    margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 0;
    }
}

/* general rules */
h2 {
    font-size: 48px;
}

h2::before {
    content: "</";
    color: #55b3d9;
}

h2::after {
    content: ">";
    color: #55b3d9;
}

h3 {
    font-size: 38px;
    color: white;
}

/* Navigation */
nav {
    background-color: #f2ba52;
    position: fixed;
    transition: width 600ms ease;
    overflow: scroll;
    box-shadow: 4px 0 10px -3px #191726;
    z-index: 100;
}

@media only screen and (min-width: 600px) {
    nav {
        width: 5rem;
        height: 100vh;
    }

    nav:hover {
        width: 16rem;
    }
    
    nav:hover .link-text {
        display: inline;
    }
    
    nav:hover .logo img {
        transform: rotate(-90deg);
        margin-left: 11rem;
    }
    
    nav:hover .logo-text {
        display: inline;
        left: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        width: 100vw;
        bottom: 0;
        left: 0;
    }
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.nav-link {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
}

@media only screen and (min-width: 600px) {
    .nav-link {
        filter: grayscale(100%) opacity(0.7);
        transition: filter 600ms ease,
                    background-color 600ms ease;
    }

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background-color: #f2955e;
    }
}

.nav-link img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1.5rem;
}

@media only screen and (max-width: 420px) {
    .nav-link img {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .nav-link img {
        margin: 0 .5rem;
    }
}

.link-text {
    display: none;
    margin-left: 1rem;
}

@media only screen and (min-width: 600px) {
    .nav-item:last-child {
        margin-top: auto;
    }

    .logo {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.3ch;
        line-height: 2rem;
        filter: grayscale(0%) opacity(1);
        background-color: #d97e7e;
        opacity: 0.8;
        transition: opacity 600ms ease;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .logo:hover {
        opacity: 1;
        background-color: #d97e7e;
    }
    
    .logo-text {
        position: absolute;
        left: -999px;
        transition: left 450ms ease;
    }
    
    .logo img {
        transform: rotate(90deg);
        transition: margin-left 600ms ease,
                    transform 600ms ease;
    }
}

@media only screen and (max-width: 600px) {
    .nav-item:first-child { /* smaže logo; nelze udělat přes .logo class, nebot tam zustaval kousek z <li> */
        display: none;
    }
}


/* section: About */
#about {
    height: 100vh;
    width: 100%;
}

@keyframes arrowUpAndDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50%);
    }
}

.arrow {
    width: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    animation: arrowUpAndDown 1s ease-in-out infinite alternate;
}

@media only screen and (max-width: 600px) {
    .arrow {
        bottom: 15%;
    }
}

.arrow img {
    transform: translateX(-50%);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #f2955e, #d97e7e);
    width: 100%;
    height: 200vh;
    z-index: -1;
}

header {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    header {
        align-items: flex-start;
    }
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
    border: #191726 solid 5px;
}

@media only screen and (max-width: 600px) {
    .hero {
        margin: 0;
        border: none;
        height: 45%;
    }
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: relative;
    left: 1vw;
    bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .headline {
        margin-left: 10px;
    }
}

.headline p {
    line-height: 1.5;
}

.headline p:first-child {
    color: white;
}

.name {
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    color: #298fb8;
    display: block;
    padding: 10px 0;
}

@media only screen and (max-width: 370px) {
    .name {
        font-size: 60px;
    }
}

/* section: Projects */
#projects {
    height: 100vh;
}

.gallery {
    display: grid;
    grid-template-areas:"heading heading"
                        "picture-1 picture-2"
                        "picture-3 picture-4";
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    height: 100vh;
    padding: 5%;
}

@media only screen and (max-width: 900px) {
    .gallery {
        grid-template-areas: none;
        grid-template-columns: 1fr;
        grid-template-rows: 10% repeat(4, 30%);
        grid-gap: 1rem;
        overflow: scroll;
    }
}

@media only screen and (min-width: 900px) {
    h2 {
        grid-area: heading;
    }
}

.img-container {
    border: 2px solid #191726;
    overflow: hidden;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

.darkHovering {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.img-container:hover .darkHovering {
    opacity: 0.9;
}

.dH-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: .4s ease-out;
    pointer-events: none;
    opacity: 0;
}

.img-container:hover .dH-heading {
    opacity: 1;
}

.modal {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.modal p {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.full-img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

@media only screen and (min-width: 600px) {
    .full-img {
        height: 70%;
    }
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}